export(Choices)
export(ProbWeight)
export(Utility)
export(choicesFromFile)
export(compound_invariance_pwf)
export(constant_relative_sensitivity_pwf)
export(drawChoices)
export(drawSimplex)
export(expo_power_uf)
export(exponential_power_pwf)
export(exponential_uf)
export(general_linear_uf)
export(general_power_uf)
export(hyperbolic_logarithm_pwf)
export(kt_pwf)
export(linear_in_log_odds_pwf)
export(linear_pwf)
export(linear_uf)
export(logarithmic_uf)
export(neo_additive_pwf)
export(normalized_exponential_uf)
export(normalized_logarithmic_uf)
export(normalized_power_uf)
export(plotOneParProbWFam)
export(plotProbW)
export(plotRP)
export(plotTwoParProbWFam)
export(plotUtility)
export(power_pwf)
export(power_uf)
export(quadratic_uf)
export(vsdChoices)
exportClasses(Choices)
exportClasses(ProbWeight)
exportClasses(Utility)
exportMethods(compareEU)
exportMethods(compareEV)
exportMethods(compareGDU)
exportMethods(comparePRT)
exportMethods(comparePT)
exportMethods(compareRAM)
exportMethods(compareRDU)
exportMethods(compareSWAU)
exportMethods(compareSWU)
exportMethods(compareTAX)
exportMethods(saveChoices)
